#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(4, 6, 115);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(189, 203, 238);
}

* {
  background-color: rgb(189, 203, 238);
}

.header {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 60px;
  border-style: solid;
  text-align: center;
  background-color: rgb(189, 203, 238);
  padding: 10px 0;
  width: 100%;
  max-width: 1280px;

}

.search-button {
  margin: 0 0 0 10px;
}

